### A Visão: Restaurante

**Dataset**

https://www.kaggle.com/datasets/gauravmalik26/food-delivery-dataset?select=train.csv

Do lado do restaurantes:
1. A quantidade de entregadores únicos.
2. A distância média dos resturantes e dos locais de entrega.
3. O tempo médio e o desvio padrão de entrega por cidade.
4. O tempo médio e o desvio padrão de entrega por cidade e tipo de pedido.
5. O tempo médio e o desvio padrão de entrega por cidade e tipo de tráfego.
6. O tempo médio de entrega durantes os Festivais.

In [35]:
# bibliotecas necessárias
import pandas as pd  # Importa a biblioteca 'pandas', que é usada para manipulação de dados em formato de tabela (dataframes).
import os  # Importa o módulo'os' para interagir com o sistema operacional, por exemplo, para verificar se o arquivo existe.

# Definindo o caminho do arquivo diretamente no código
file_path = "C:/Users/55319/Desktop/Comunidade DS/train.csv"  # Caminho fixo do arquivo

df = pd.read_csv(file_path)

# Verificando se o arquivo existe
if os.path.exists(file_path):
    # Lendo o arquivo CSV
      # Lê o arquivo CSV especificado pelo caminho fixo e cria um DataFrame.
    print("Arquivo carregado com sucesso!")
    # Exemplo de visualização do DataFrame
    print(df.head())  # Exibe as primeiras 5 linhas do DataFrame carregado
else:
    print("Erro: O arquivo não foi encontrado. Verifique o caminho e tente novamente.")

Arquivo carregado com sucesso!
        ID Delivery_person_ID Delivery_person_Age Delivery_person_Ratings  \
0  0x4607     INDORES13DEL02                   37                     4.9
1  0xb379     BANGRES18DEL02                   34                     4.5
2  0x5d6d     BANGRES19DEL01                   23                     4.4
3  0x7a6a    COIMBRES13DEL02                   38                     4.7
4  0x70a2     CHENRES12DEL01                   32                     4.6

   Restaurant_latitude  Restaurant_longitude  Delivery_location_latitude  \
0            22.745049             75.892471                   22.765049
1            12.913041             77.683237                   13.043041
2            12.914264             77.678400                   12.924264
3            11.003669             76.976494                   11.053669
4            12.972793             80.249982                   13.012793

   Delivery_location_longitude  Order_Date Time_Orderd Time_Order_picked  \
0                    75.912471  19-03-2022    11:30:00          11:45:00
1                    77.813237  25-03-2022    19:45:00          19:50:00
2                    77.688400  19-03-2022    08:30:00          08:45:00
3                    77.026494  05-04-2022    18:00:00          18:10:00
4                    80.289982  26-03-2022    13:30:00          13:45:00

       Weatherconditions Road_traffic_density  Vehicle_condition  \
0       conditions Sunny                High                   2
1      conditions Stormy                 Jam                   2
2  conditions Sandstorms                 Low                   0
3       conditions Sunny              Medium                   0
4      conditions Cloudy                High                   1

  Type_of_order Type_of_vehicle multiple_deliveries Festival            City  \
0        Snack      motorcycle                    0      No           Urban
1        Snack         scooter                    1      No   Metropolitian
2       Drinks      motorcycle                    1      No           Urban
3       Buffet      motorcycle                    1      No   Metropolitian
4        Snack         scooter                    1      No   Metropolitian

  Time_taken(min)
0        (min) 24
1        (min) 33
2        (min) 26
3        (min) 21
4        (min) 30

In [90]:
#1. convertendo a coluna Age de texto para numero
df1 = df.copy()

linhas_selecionadas = df1['Delivery_person_Age'] != 'NaN '
df1 = df1.loc[linhas_selecionadas, :].copy()
# Converter a coluna para int
df1['Delivery_person_Age'] = df1['Delivery_person_Age'].astype(int)

df1 = df1[df1['City'] != 'NaN ']
df1 = df1[df1['Festival'] != 'NaN ']
df1 = df1[df1['Road_traffic_density'] != 'NaN '] 

#2. convertendo a coluna Ratings de texto para numero decimal (float)
df1['Delivery_person_Ratings'] = df1['Delivery_person_Ratings'].astype(float)

#3. convertendo a coluna order_date de texto para data
df1['Order_Date'] = pd.to_datetime(df1['Order_Date'], format='%d-%m-%Y')

#4. convertendo multiple_deliveries de texto para numero inteiro (int)
linhas_selecionadas = (df1['multiple_deliveries'] != 'NaN ')
df1 = df1.loc[linhas_selecionadas, :].copy()
df1['multiple_deliveries'] = df1['multiple_deliveries'].astype(int)

# 5. aplicando strip() em toda a coluna sem for:
df1.loc[:, 'Delivery_person_ID'] = df1.loc[:, 'Delivery_person_ID'].str.strip()
df1.loc[:, 'Type_of_order'] = df1.loc[:, 'Type_of_order'].str.strip()
df1.loc[:, 'Type_of_vehicle'] = df1.loc[:, 'Type_of_vehicle'].str.strip()
df1.loc[:, 'City'] = df1.loc[:, 'City'].str.strip()
df1.loc[:, 'ID'] = df1.loc[:, 'ID'].str.strip()
df1.loc[:, 'Road_traffic_density'] = df1.loc[:, 'Road_traffic_density'].str.strip()
df1.loc[:, 'Weatherconditions'] = df1.loc[:, 'Weatherconditions'].str.strip()
df1.loc[:, 'Festival'] = df1.loc[:, 'Festival'].str.strip()

In [91]:
# Remover a parte '(min)' das strings
df1['Time_taken(min)'] = df1['Time_taken(min)'].str.replace(r'\(min\)', '', regex=True)

# Converter para int
df1['Time_taken(min)'] = df1['Time_taken(min)'].astype(int)

# Verificando o resultado
display(df1)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,0x7c09,JAPRES04DEL01,30,4.8,26.902328,75.794257,26.912328,75.804257,2022-03-24,11:35:00,11:45:00,conditions Windy,High,1,Meal,motorcycle,0,No,Metropolitian,32
45589,0xd641,AGRRES16DEL01,21,4.6,0.000000,0.000000,0.070000,0.070000,2022-02-16,19:55:00,20:10:00,conditions Windy,Jam,0,Buffet,motorcycle,1,No,Metropolitian,36
45590,0x4f8d,CHENRES08DEL03,30,4.9,13.022394,80.242439,13.052394,80.272439,2022-03-11,23:50:00,00:05:00,conditions Cloudy,Low,1,Drinks,scooter,0,No,Metropolitian,16
45591,0x5eee,COIMBRES11DEL01,20,4.7,11.001753,76.986241,11.041753,77.026241,2022-03-07,13:35:00,13:40:00,conditions Cloudy,High,0,Snack,motorcycle,1,No,Metropolitian,26
45592,0x5fb2,RANCHIRES09DEL02,23,4.9,23.351058,85.325731,23.431058,85.405731,2022-03-02,17:10:00,17:15:00,conditions Fog,Medium,2,Snack,scooter,1,No,Metropolitian,36

In [92]:
df1 = df1.reset_index(drop=True)

### 1. A quantidade de entregadores únicos.

In [ ]:
# Contando o número de entregadores únicos na coluna 'Delivery_person_ID'
entregadores_unicos = df1['Delivery_person_ID'].nunique()

# Exibindo o resultado
print(f'A quantidade de entregadores únicos na base de dados é: {entregadores_unicos}')

A quantidade de entregadores únicos na base de dados é: 1320

### 2. A distância média dos resturantes e dos locais de entrega.

In [ ]:
cols = ['Restaurant_latitude', 'Restaurant_longitude', 'Delivery_location_latitude', 'Delivery_location_longitude']

df1['Distance'] = df1.loc[:, cols].apply(lambda x: haversine((x['Restaurant_latitude'], x['Restaurant_longitude']), (x['Delivery_location_latitude'], x['Delivery_location_longitude'])), axis=1)

avg_distance = df1['Distance'].mean()

print(f'A distancia média das entregas é de: {avg_distance :.2f} KM.')

A distancia média das entregas é de: 38.50 KM.

### 3. Tempo médio e desvio padrão por cidade:

In [75]:
df1 = df1[df1['City'] != 'NaN ']  # Filtra 'NaN' como string
df1 = df1[df1['City'].notna()]    # Remove valores ausentes (NaN) na coluna 'City'


cols = [ 'City', 'Time_taken(min)']

df_aux = df1.loc[:, cols].groupby('City').agg({'Time_taken(min)': ['mean', 'std']})

df_aux.columns = ['avg_time', 'std_time']

df_aux = df_aux.reset_index()

df_aux

            City   avg_time  std_time
0  Metropolitian  27.425533  9.131709
1     Semi-Urban  49.710526  2.724992
2          Urban  23.206066  8.851762

### 4. O tempo médio e o desvio padrão de entrega por cidade e tipo de pedido.

In [76]:
# Seleção das colunas
cols = ['City', 'Type_of_order', 'Time_taken(min)']

# Realiza o agrupamento e a agregação
df_aux = df1.loc[:, cols].groupby(['City', 'Type_of_order']).agg({'Time_taken(min)': ['mean', 'std']})

# Resetando o índice para transformar 'Type_of_order' e 'City' em colunas
df_aux = df_aux.reset_index()

# Renomeando as colunas após o reset_index()
df_aux.columns = ['Cidade', 'Tipo de Pedido', 'Média', 'Desvio Padrão']

# Exibindo o resultado
df_aux

           Cidade Tipo de Pedido      Média  Desvio Padrão
0   Metropolitian         Buffet  27.305076       9.153779
1   Metropolitian         Drinks  27.315351       9.038785
2   Metropolitian           Meal  27.607623       9.215682
3   Metropolitian          Snack  27.468536       9.114292
4      Semi-Urban         Buffet  49.707317       2.731702
5      Semi-Urban         Drinks  49.625000       2.459347
6      Semi-Urban           Meal  50.300000       3.041665
7      Semi-Urban          Snack  49.408163       2.707385
8           Urban         Buffet  23.559880       9.052978
9           Urban         Drinks  23.306856       8.922801
10          Urban           Meal  23.035360       8.756881
11          Urban          Snack  22.923529       8.662027

### 5. O tempo médio e o desvio padrão de entrega por cidade e tipo de tráfego.

In [93]:
cols = ['City', 'Road_traffic_density', 'Time_taken(min)']

df_aux = df1.loc[:, cols].groupby(['City', 'Road_traffic_density']).agg({'Time_taken(min)':['mean', 'std']})

df_aux = df_aux.reset_index()

df_aux.columns = ['Cidade', 'Tráfego', 'Média', 'Desvio Padrão']

df_aux

           Cidade Tráfego      Média  Desvio Padrão
0   Metropolitian    High  28.140898       7.904645
1   Metropolitian     Jam  31.976991       9.476203
2   Metropolitian     Low  22.257675       6.794772
3   Metropolitian  Medium  27.729966       8.308064
4      Semi-Urban    High  50.125000       2.629956
5      Semi-Urban     Jam  49.841270       2.717095
6      Semi-Urban  Medium  47.400000       2.011080
7           Urban    High  24.305335       8.494842
8           Urban     Jam  27.993164      10.078271
9           Urban     Low  19.446809       6.319963
10          Urban  Medium  23.864962       8.393176

### 6. O tempo médio de entrega durantes os Festivais.

In [96]:
cols = ['Festival', 'Time_taken(min)']

df_aux = df1.loc[:, cols].groupby(['Festival']).mean()

df_aux = df_aux.reset_index()

linhas_selecionadas = df_aux['Festival'] == 'Yes'

df_aux = df_aux.loc[linhas_selecionadas]

df_aux

  Festival  Time_taken(min)
1      Yes        45.518607